*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 1080px;
}
.box{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.boxText{
    width: 30%;
    height: 600px;
    background-color: rgb(255, 255, 255);
    text-align: start;
    font-size: 40px;
    margin-top: 5%;
}
.name{
    font-size: 96px;
    font-weight: 600;
     display: flex;
    justify-content: center;
}
.map{
    width: 40%;
    height: 600px;
    background-color: rgb(255, 255, 255);
    margin-top: 5%;
    font-size: 80px;
}
.contAdres{
    width: 100%;
    display: flex;
    align-items: center; 
    gap: 10px; 
}
.contNomer{
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 7%;
    gap: 10px; 
}
.contPochta{
    width: 100%;
    display: flex;
    padding-top: 7%;
    align-items: center;
    gap: 10px; 
}
.adres, .nomer, .pochta{
    padding-left: 20px;
}
.logoAdres{
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-image: url(../img/Map.png);
    flex-shrink: 0; 
}
.logoNomer{
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-image: url(../img/Phone.png);
    flex-shrink: 0; 
}
.logoPochta{
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-image: url(../img/pocht.png);
    flex-shrink: 0; 
}


@media (max-width: 768px) {
    .main {
        height: auto;
        padding: 20px 0;
    }

    .name {
        font-size: 48px;
    }

    .box {
        flex-direction: column;
        gap: 30px;
    }

    .boxText {
        width: 90%;
        max-width: 400px;
        height: auto;
        margin-top: 20px;
        padding: 20px;
        font-size: 28px;
    }

    .map {
        width: 90%;
        height: 300px;
        max-width: 400px;
        margin-top: 0;
    }

    .contAdres, .contNomer, .contPochta {
        padding-top: 10px;
        align-items: flex-start; 
        gap: 10px;
    }

    .adres, .nomer, .pochta {
        padding-left: 15px;
        font-size: 20px; 
    }

    .logoAdres, .logoNomer, .logoPochta {
        width: 30px;
        height: 30px;
        flex-shrink: 0;
    }
}

@media (max-width: 480px) {
    .name {
        font-size: 36px;
    }

    .boxText {
        font-size: 24px;
        padding: 15px;
    }

    .map {
        height: 250px;
    }

    .adres, .nomer, .pochta {
        font-size: 18px;
    }

    .logoAdres, .logoNomer, .logoPochta {
        width: 25px;
        height: 25px;
    }
}