.character-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 9999;
}

.moving-character {
  position: absolute;
  width: 150px;
  height: 150px;
  animation: moveAround 20s linear infinite;
}

@keyframes moveAround {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(calc(100vw - 50px), calc(100vh - 50px));
  }
  50% {
    transform: translate(0, calc(100vh - 50px));
  }
  75% {
    transform: translate(calc(100vw - 50px), 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* Mobile adaptation */
@media (max-width: 768px) {
  .moving-character {
    width: 100px;
    height: 100px;
    animation-duration: 15s; /* Slightly faster animation for smaller screens */
  }

  @keyframes moveAround {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(calc(100vw - 30px), calc(100vh - 30px));
    }
    50% {
      transform: translate(0, calc(100vh - 30px));
    }
    75% {
      transform: translate(calc(100vw - 30px), 0);
    }
    100% {
      transform: translate(0, 0);
    }
  }
}

@media (max-width: 480px) {
  .moving-character {
    width: 75px;
    height: 75px;
    animation-duration: 12s; /* Even faster for very small screens */
  }

  @keyframes moveAround {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(calc(100vw - 20px), calc(100vh - 20px));
    }
    50% {
      transform: translate(0, calc(100vh - 20px));
    }
    75% {
      transform: translate(calc(100vw - 20px), 0);
    }
    100% {
      transform: translate(0, 0);
    }
  }
}