*{
    padding: 0;
    margin: 0;
}
.catalog{
    width: 100%;
    height: 1280px;
    display: flex;
    justify-content: center;
}
.name{
    font-size: 96px;
    font-weight: 600;
     display: flex;
    justify-content: center;
}
.text{
    font-size: 48px;
    font-weight: 600;
}
.textBox{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.cards{
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 170%;
    margin-top: 100px;
}
.cardTop1, .cardTop2{
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: space-around;
}
.card1, .card2, .card3, .card4, .card5, .card6{
    width: 300px;
    height: 395px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 1px 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
   
}
.cardLogo1{
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-image: url(../img/box.png);
    margin-top: 5px;
}
.cardLogo2{
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-image: url(../img/magicpen.png);
    margin-top: 5px;
}
.cardLogo4{
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-image: url(../img/az.png);
    margin-top: 5px;
}
.cardLogo3{
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-image: url(../img/chart.png);
    margin-top: 5px;
}
.cardLogo5{
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-image: url(../img/Vector.png);
    margin-top: 5px;
}
.cardLogo6{
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-image: url(../img/smile.png);
    margin-top: 5px;
}
.cardName{
    width: 100%;
    height: 25px;
    font-size: 24px;
    font-weight: 600;
}
.cardSell{
    width: 100%;
    height: 40px;
    font-size: 34px;
    font-weight: 600;
}
.cardInfo{
    width: 90%;
    height: 170px;
    display: flex;
    flex-direction: column;
}
.cardBut{
    width: 235px;
    height: 40px;
    border-radius: 10px;
    color: white;
    background-color: black;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease, transform 0.1s ease;
}
.cardBut:hover{
    color: black;
     background-color: rgb(218, 218, 218);
}
.cardBut:active{
    transform: scale(0.95);
}
.info{
    display: flex;
    width: 275px;
    height: 55px;
    align-items: center;
}
.arrow{
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-image: url(../img/Arrow.png);
}
.infoText{
    font-size: 15px;
    font-weight: 500;
    text-align: center;
 
}

