* {
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
  height: 80px;
  background-color: rgb(10, 10, 9);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contain {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 20%;
  color: aliceblue;
  font-size: 28px;
}

.knopki {
  width: 40%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.navButton {
  color: aliceblue;
  width: 25%;
  height: 70%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none; 
  font-size: 24px;
  background-color: black;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
  box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.2);
  outline: none;
  padding: 0;
  margin-left: 25px;
}


.navButton:hover {
  background-color: rgb(218, 218, 218);
  color: black;
  text-decoration: none; 
}

.navButton:active {
  transform: scale(0.95);
}